<h1><span>Bienvenido a <%= title %></span></h1>
En esta plataforma podrá entretenerse contestando preguntas al azar. Si quiere tener más información de lo que es un Quiz, pinche <a href="http://es.wikipedia.org/wiki/Quiz">aquí</a>.
