#h1 {
  margin: 3% 10%;
  text-align: center;
}

#n1 {
  margin: 2%;
  text-align: center;
}

#s1 {
  text-align: center;
}

#lista {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

#res {
  color:#00f;
}
